@font-face {
    font-family: 'Dejavu Serif';
    src: url('../fonts/am/dejavu-serif.ttf') format('ttf');
}
@font-face {
    font-family: 'Arti Regular';
    src: url('../fonts/am/arti-regular.otf') format('ttf');
}
